//Creates a pseudo-element that is the first child of the selected element
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  border-radius: 10px;
  box-shadow: 12px 21px 25px rgba(0, 0, 0, 0.3);
  &__button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: #11052c;
    color: white;
    border-radius: 10px;
  }
  &__button:hover {
    background-color: #52057b;
  }
  &__operator {
    background-color: #52057b;
  }
  &__operator:hover {
    background-color: #11052c;
  }
  &__equals {
    background-color: #52057b;
  }
  &__equals:hover {
    background-color: #11052c;
  }
  &__span-two {
    grid-column: span 2;
  }
  &__output {
    grid-column: 1 / -1;
    background-color: #11052c;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    //Break the word in the middle
    //Break all words in case they become too long, so that it fits the output
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 10px;
    &__previous-operand {
      color: rgba(255, 255, 255, 0.75);
      font-size: 1.5rem;
    }

    &__current-operand {
      color: white;
      font-size: 2.5rem;
    }
  }
}

@media screen and (min-width: 320px) {
  .calculator-grid {
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: minmax(75px, auto) repeat(5, 75px);
  }
}
@media screen and (min-width: 375px) {
  .calculator-grid {
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: minmax(90px, auto) repeat(5, 90px);
  }
}
@media screen and (min-width: 414px) {
  .calculator-grid {
    grid-template-columns: repeat(4, 95px);
    grid-template-rows: minmax(95px, auto) repeat(5, 95px);
  }
}
@media screen and (min-width: 768px) {
  .calculator-grid {
    grid-template-columns: repeat(4, 130px);
    grid-template-rows: minmax(130px, auto) repeat(5, 130px);
  }
}
@media screen and (min-width: 1024px) {
  .calculator-grid {
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: minmax(90px, auto) repeat(5, 90px);
  }
}
